@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline text-sm font-semibold text-white px-[1.5em] py-[0.6em] transition-colors duration-300 rounded-lg shadow-lg bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-400 focus:ring-opacity-70 dark:ring-offset-gray-900 dark:bg-blue-500 dark:hover:bg-blue-400;
  }
}

html {
  scroll-behavior: smooth;
}

/* Text Selection Color */
/* ::selection {
  background: hsl(217, 100%, 92%);
}
.dark ::selection {
  background: hsl(220, 100%, 30%);
} */

/* Code Block Title */
.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 rounded-t;

  background-color: hsl(228, 55%, 93%);
  color: hsl(217, 19%, 27%);
}

.dark .remark-code-title {
  background-color: hsl(207, 65%, 12%);
  color: hsl(207, 65%, 90%);
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

/* Themes for Code Block */
@import "./code-theme-light.css";
@import "./code-theme-dark.css";

/* 
Downloaded more themes from https://github.com/PrismJS/prism-themes
Keep only Code blocks and necessary code from downloaded theme.
For dark theme wrap code around ".dark"
*/
