@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline text-sm font-semibold text-white px-[1.5em] py-[0.6em] transition-colors duration-300 rounded-lg shadow-lg bg-primary-400 hover:bg-primary-500 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-primary-400 focus:ring-opacity-70 dark:ring-offset-gray-900 dark:bg-primary-500 dark:hover:bg-primary-400;
  }
}

html {
  @apply scroll-smooth;
}

a {
  @apply transition-colors duration-300;
}

/* Checkbox style */
[type="checkbox"] {
  @apply appearance-none h-4 w-4 border rounded-sm border-gray-400 dark:border-gray-600 align-middle;
}
[type="checkbox"]:checked {
  @apply border-transparent dark:border-transparent bg-no-repeat bg-center bg-primary-400 dark:bg-primary-500;

  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

/* Text selection color */
/* ::selection {
  @apply bg-gray-200 dark:bg-gray-600;
} */

/* Code Block Title */
.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold rounded-t dark:text-gray-200 dark:bg-gray-700;
  background-color: hsl(228, 55%, 93%);
  color: hsl(217, 19%, 27%);
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

/* remove list-style from task list item */
.task-list-item {
  @apply list-none;
}

/* Themes for Code Block */
@import "./code-theme-light.css";
@import "./code-theme-dark.css";

/* 
Downloaded more themes from https://github.com/PrismJS/prism-themes
Keep only Code blocks and necessary code from downloaded theme.
For dark theme wrap code around ".dark"
*/
